:root {
  --color-blue: #55f;
  --color-white: #fff;
  --color-light-gray: #ccc;
  --color-gray: #555;
  --color-role-customer: #afa;
  --color-role-business: #aaf;
  --color-role-admin: #faa;

  --color-primary: var(--color-blue);
  --color-primary-text: var(--color-white);
}
