<div class="items">
  <mat-table [dataSource]="data" class="table">
    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title">Role</th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_title">
        <div class="table__role" [class]="'table__role_' + element.role">{{ element.role }}</div>
      </td>
    </ng-container>
    
    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title">Name</th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_title">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title">Address</th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_title">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title">Amount</th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_title">{{ element.amount }}</td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="table__button-group">
          <button
            (click)="editRecord(element.id)"
            [disabled]="!isCanEdit(element.role)"
            mat-icon-button
            class="table__button table__button_delete"
          >
            <mat-icon class="nav__icon" color="primary">edit</mat-icon>
          </button>
          <button
            (click)="deleteRecord(element.id)"
            [disabled]="!isCanEdit(element.role)"
            mat-icon-button
            class="table__button table__button_delete"
          >
            <mat-icon class="nav__icon" color="warn">delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
</div>
